@keyframes flickerAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes flickerAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes flickerAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

.animate-loading {
     -webkit-animation: flickerAnimation 1.75s infinite;
     -moz-animation: flickerAnimation 1.75s infinite;
     -o-animation: flickerAnimation 1.75s infinite;
      animation: flickerAnimation 1.75s infinite;
}