@keyframes pulseAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes pulseAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes pulseAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes pulseAnimation {
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}

.animate-pulse {
     -webkit-animation: pulseAnimation 1.75s infinite;
     -moz-animation: pulseAnimation 1.75s infinite;
     -o-animation: pulseAnimation 1.75s infinite;
      animation: pulseAnimation 1.75s infinite;
}