
.inactive {
    transition: all 0.3s ease 0s;
    background-color: var(--light);
}

.skill-well {
    width: 700px;
    height: 100px;
    padding: 25px 30px;
    margin: 32.5px 0px 15px 0px;
    /*background-color: var(--darkest80);*/
    /*background: linear-gradient(90deg, var(--darkest80) 75%, var(--light) 25%);*/
}

.skill-icon {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid var(--accent);
    box-sizing: border-box;
    border-radius: 25px;
}

.skill-label {
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 22px;
    color: var(--accent);
}

.skill-gain {
    float: right;
    padding-top: 5px;
    font-size: 22px;
    color: var(--wolf);
}

#slogan {
    text-align: center;
    margin-top: 65px;
}

#chart { 
    width: 50%;
}

#import {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    margin-top: 65px;
    transition: all 0.3s ease 0s;
}

#import:hover {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: var(--dark);
}

/* Vector */
#import-outline { position:absolute; top: 0px; left: 0px; z-index: 1; opacity: 0.75; }
#import-arrow { position:absolute; top: 93.75px; left: 0px; z-index: 2; }

/* Below iPad */
@media only screen and (max-width: 710px) {
    .skill-well {
        width: 100vw;
        overflow: hidden;
    }

    .skill-label {
        font-size: 14px;
    }

    .skill-label,
    .skill-gain {
        float: none;
        padding-top: 0px;
    }

    .skill-icon {
        margin-right: 10px;
    }
}

/* iPhone 5 5/SE and below */
@media only screen and (max-width: 330px) {
    #import {
        transform: scale(0.7);
        margin-top: 0px;
    }
}
